@font-face {
  font-family: 'Mobileapp-fonticon';
  src:  url('fonts/Mobileapp-fonticon.eot?70gxvs');
  src:  url('fonts/Mobileapp-fonticon.eot?70gxvs#iefix') format('embedded-opentype'),
    url('fonts/Mobileapp-fonticon.ttf?70gxvs') format('truetype'),
    url('fonts/Mobileapp-fonticon.woff?70gxvs') format('woff'),
    url('fonts/Mobileapp-fonticon.svg?70gxvs#Mobileapp-fonticon') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

[class^="icon"], [class*=" icon"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'Mobileapp-fonticon' !important;
  speak: never;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.iconplus2:before {
  content: "\e900";
}
.iconapple:before {
  content: "\e901";
}
.icongoogleplay:before {
  content: "\e902";
}
.icongridInterface1:before {
  content: "\e903";
}
.iconcheckCircle1:before {
  content: "\e904";
}
.icongridInterface41:before {
  content: "\e905";
}
.iconpen2:before {
  content: "\e906";
}
.iconremoveCircle:before {
  content: "\e907";
}
.iconstar:before {
  content: "\e908";
}
.iconstar1:before {
  content: "\e909";
}
.iconleft1:before {
  content: "\e90a";
}
.iconleftUp:before {
  content: "\e90b";
}
.iconright1:before {
  content: "\e90c";
}
.iconup1:before {
  content: "\e90d";
}
.iconleft:before {
  content: "\e90e";
}
.iconup:before {
  content: "\e90f";
}
.iconright:before {
  content: "\e910";
}
.icondown:before {
  content: "\e911";
}
.icontrendDown:before {
  content: "\e912";
}
.icontrendUp:before {
  content: "\e913";
}
.iconuser:before {
  content: "\e914";
}
.iconprofile1:before {
  content: "\e915";
}
.iconbankCard:before {
  content: "\e916";
}
.iconbankCardDouble:before {
  content: "\e917";
}
.iconbitcoin:before {
  content: "\e918";
}
.iconcalendar:before {
  content: "\e919";
}
.iconcalendarSticker:before {
  content: "\e91a";
}
.iconcameraPlus:before {
  content: "\e91b";
}
.iconcandleChart2Line:before {
  content: "\e91c";
}
.iconcardlock:before {
  content: "\e91d";
}
.iconcategories:before {
  content: "\e91e";
}
.iconchat:before {
  content: "\e91f";
}
.iconcheckCircle:before {
  content: "\e920";
}
.iconclearText:before {
  content: "\e921";
}
.iconclipboardDownload:before {
  content: "\e922";
}
.iconcloudRefresh:before {
  content: "\e923";
}
.iconcoinSwap:before {
  content: "\e924";
}
.iconcoins:before {
  content: "\e925";
}
.iconcopy:before {
  content: "\e926";
}
.icondataBaseRefresh:before {
  content: "\e927";
}
.icondelete:before {
  content: "\e928";
}
.icondeliveryBoxChange:before {
  content: "\e929";
}
.icondiscount:before {
  content: "\e92a";
}
.icondocs:before {
  content: "\e92b";
}
.icondocumentPaper2Lines:before {
  content: "\e92c";
}
.icondocumentVerified:before {
  content: "\e92d";
}
.icondonutbarChart:before {
  content: "\e92e";
}
.icondownload:before {
  content: "\e92f";
}
.iconemailLock:before {
  content: "\e930";
}
.iconextendVertical2 .path1:before {
  content: "\e931";
  color: rgb(228, 42, 60);
}
.iconextendVertical2 .path2:before {
  content: "\e932";
  margin-left: -1em;
  color: rgb(0, 164, 126);
}
.iconextendVertical .path1:before {
  content: "\e933";
  color: rgb(0, 164, 126);
}
.iconextendVertical .path2:before {
  content: "\e934";
  margin-left: -1em;
  color: rgb(228, 42, 60);
}
.iconfacebook:before {
  content: "\e935";
}
.iconinstagram:before {
  content: "\e936";
}
.iconxcom:before {
  content: "\e937";
}
.icontelegram:before {
  content: "\e938";
}
.icongoogleAuthentication:before {
  content: "\e939";
}
.iconfilter:before {
  content: "\e93a";
}
.iconfingerprintScan:before {
  content: "\e93b";
}
.icongift:before {
  content: "\e93c";
}
.icongridInterface2:before {
  content: "\e93d";
}
.icongridInterface3:before {
  content: "\e93e";
}
.icongridInterface4:before {
  content: "\e93f";
}
.iconinfomenu1:before {
  content: "\e940";
}
.iconinfoMenu2:before {
  content: "\e941";
}
.icongrinningSquinting:before {
  content: "\e942";
}
.iconrelieved:before {
  content: "\e943";
}
.iconneutral:before {
  content: "\e944";
}
.iconslightlyFrowning:before {
  content: "\e945";
}
.iconconfounded:before {
  content: "\e946";
}
.iconheadphone:before {
  content: "\e947";
}
.iconshow:before {
  content: "\e948";
}
.iconhide:before {
  content: "\e949";
}
.iconimage:before {
  content: "\e94a";
}
.iconinfocircle:before {
  content: "\e94b";
}
.iconvideo:before {
  content: "\e94c";
}
.iconlensshutter:before {
  content: "\e94d";
}
.iconlock1:before {
  content: "\e94e";
}
.iconlock:before {
  content: "\e94f";
}
.iconlogout:before {
  content: "\e950";
}
.iconmedal2:before {
  content: "\e951";
}
.iconmedal1:before {
  content: "\e952";
}
.iconmessagesBubble:before {
  content: "\e953";
}
.iconmessagesTrade:before {
  content: "\e954";
}
.iconmoneyBagDollar:before {
  content: "\e955";
}
.iconmoneyPaperDownload:before {
  content: "\e956";
}
.iconmoon:before {
  content: "\e957";
}
.iconmoreCircle:before {
  content: "\e958";
}
.iconnotebook1:before {
  content: "\e959";
}
.iconnumber1Circle:before {
  content: "\e95a";
}
.iconnumber2Circle:before {
  content: "\e95b";
}
.iconnumber3Circle:before {
  content: "\e95c";
}
.iconnumber4Circle:before {
  content: "\e95d";
}
.iconnumber4Square:before {
  content: "\e95e";
}
.iconoff:before {
  content: "\e95f";
}
.iconpaintingPalette:before {
  content: "\e960";
}
.iconpaperUpload:before {
  content: "\e961";
}
.iconpasswordLock:before {
  content: "\e962";
}
.iconpen1:before {
  content: "\e963";
}
.iconpen3:before {
  content: "\e964";
}
.iconphoneNumberPad1:before {
  content: "\e965";
}
.iconphoneNumberPad:before {
  content: "\e966";
}
.iconpin1:before {
  content: "\e967";
}
.iconplus1:before {
  content: "\e968";
}
.iconremovecircle:before {
  content: "\e969";
}
.iconqrCode:before {
  content: "\e96a";
}
.iconquestionMarkSquare:before {
  content: "\e96b";
}
.iconringing:before {
  content: "\e96c";
}
.iconscan:before {
  content: "\e96d";
}
.iconsearch:before {
  content: "\e96e";
}
.iconsetting:before {
  content: "\e96f";
}
.iconshare:before {
  content: "\e970";
}
.iconshieldDone:before {
  content: "\e971";
}
.iconshoppingBagPlus:before {
  content: "\e972";
}
.iconsmartphone:before {
  content: "\e973";
}
.iconstopWatchPlay:before {
  content: "\e974";
}
.iconsuccessDocuments:before {
  content: "\e975";
}
.iconsun:before {
  content: "\e976";
}
.iconswapHorizontal1:before {
  content: "\e977";
}
.iconswitchHorizontal:before {
  content: "\e978";
}
.iconthumbLikeDislike:before {
  content: "\e979";
}
.iconticket:before {
  content: "\e97a";
}
.icontranslateLanguage:before {
  content: "\e97b";
}
.icontrendUpgraphbox:before {
  content: "\e97c";
}
.iconunsuccessDocuments:before {
  content: "\e97d";
}
.iconupdateLeft:before {
  content: "\e97e";
}
.iconuserScan:before {
  content: "\e97f";
}
.iconwalletincome:before {
  content: "\e980";
}
.iconwalletout:before {
  content: "\e981";
}
.iconleftDownCircle:before {
  content: "\e982";
}
.iconcornerrightupCircle:before {
  content: "\e983";
}
.iconarrowDownMD:before {
  content: "\e984";
}
.iconrightUpCircle:before {
  content: "\e985";
}
.iconbroom:before {
  content: "\e986";
}
.iconcloseRemove:before {
  content: "\e987";
}
.iconsortDown:before {
  content: "\e989";
}
.iconsortUp:before {
  content: "\e98a";
}
.iconwirelessRemoveError:before {
  content: "\e98b";
}
.iconlink:before {
  content: "\e98c";
}
.iconcenterRightLayout:before {
  content: "\e98d";
}
.iconGift:before {
  content: "\e988";
}
